.wordly_popup{
  position: absolute;
  color: #5F5F5F;
  font-family: serif;
  background-color: #d1f3ff;
  width: 300px;
  padding: 9px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  line-height: normal;
  z-index: 99999;
}
