@import url('popup/css/open-font.css');

.wordly_meaning {
  background-color: #fff;
  border: solid 1px #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.12), 0 1px 6px 0 rgba(0, 0, 0, 0.12);
  color: #5F5F5F;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 20px;
  padding: 15px;
  position: absolute;
  width: 300px;
  z-index: 99999;
}

.wordly_meaning:before {
  border-bottom: solid 10px #ccc;
  border-left: solid 10px rgba(0, 0, 0, 0);
  border-right: solid 10px rgba(0, 0, 0, 0);
  border-top: solid 0;
  content: "";
  position: absolute;
  top: -11px;
  z-index: 999999;
}

.wordly_meaning span {
  display: block;
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  text-transform: capitalize;
}
