@import url('open-font.css');

img {
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -webkit-user-drag: none;
}

.wordlyBody {
	font-family: 'Open Sans',sans-serif;
  width: 400px;
  font-size: 14px;
}

.logo {
  border-radius: 50%;
  display: flex;
  margin: 20px auto;
  text-align: center;
  width: 50px;
}

.loader {
  text-align: center;
}

#wordly-words-list{
  background-color:  aquamarine
}

#wordlyWordsList {
  list-style: none;
  padding-left: 0;
}

#wordlyWordsList li {
  border-bottom: solid 1px #ccc;
  font-weight: 300;
  margin: 5px 10px;
  padding: 10px 15px;
  padding-bottom: 15px;
}

#wordlyWordsList li:last-child {
  border-bottom: 0;
}

#wordlyWordsList li span {
  font-weight: 600;
  text-transform: capitalize;
}
